<h4 class="display-6 fw-bolder" id="title">Photos <br />
  <a class="btn btn-primary" href="./photos/view-all-photos" role="button">
    Back
  </a>
</h4>
<form [formGroup]="photosForm" (ngSubmit)="updatePhoto()">
  <div class="form-row">
    <div class="form-group mt-3">
      <input type="hidden" class="form-control" id="photoId" formControlName="photId">
      <label for="link">New Link *</label>
      <input type="text" class="form-control" id="link" formControlName="link" ng-required="link">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>
  </div>
</form>