<!-- <h1>Material</h1>
<div class="list-group">
 <a href="material/view-all-material" class="list-group-item">View all Materials</a>
 <a href="material/create-material" class="list-group-item">Create Material</a>
 <a href="material/update-material" class="list-group-item">Update Material</a>
 <a href="material/delete/material" class="list-group-item">Delete Material</a>
</div> -->

<form (submit)="createNewMaterial(materialForm)" #materialForm="ngForm">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputCode">Material Code</label>
            <input type="text" class="form-control" id="inputCode" placeholder="1" name="materialId" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputName">Description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Wool 
    ..." name="description" ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
    </div>
</form>

<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let mater of materialList">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{mater.materialId}} -
                                {{mater.description}}</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                [href]="'material/view-material/' + mater.materialId">View details</a></div>
                        <!-- <div class="text-center"><a [routerLink]="['/view-product', 
    'PROD001']" class="btn btn-outline-dark mt-auto" >View details</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>