.bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
}

.btn-info {
    margin-top: 1em;
    background-color: #00a4e0;
    border-color: aliceblue;
    color: aliceblue;
    margin-left: 5%;
}

.fw-bolder {
    color: #00455c;
    margin-top: 1em;
}

#title {
    margin-left: 5%;
}

.btn-info:hover {
    background-color: #00455c;
}

.container {
    margin-top: 2em;
}

.text-center {
    display: flex;
    justify-content: space-between;
}

.mt-auto:last-of-type:hover {
    background-color: #ee6055;
}

.mt-auto:nth-last-of-type(2):hover {
    background-color: #5aa9e6;
}

.mt-auto:first-of-type:hover {
    background-color: #60d394;
}

.btn-outline-primary {
    margin-top: 1em;
    color: aliceblue;
    border-color: aliceblue;
    background-color: #00a4e0;
    margin-left: 3em;
}

.btn-outline-primary:hover {
    color: white;
    border-color: white;
    background-color: #00455c;
}

.byId {
    border-bottom: 2px solid #00455c;
}

.custom-dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.mt-auto {
    border: none;
    border-radius: 2em;
}

.card {
    border: 2px solid #00a4e0;
}

.card-body {
    border-bottom: 1px solid #00a4e0;
    align-self: center;
}

.text-center {
    margin-top: 1em;
    margin-bottom: 0em;
}