<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h2>Are you sure you want to delete the ID {{ materialIdToDelete }}?</h2>
                <button class="btn btn-danger" (click)="confirmDelete()">Confirm Delete</button>
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
            </div>
        </div>
    </div>
</section>
