<form (submit)="createNewPhoto(createPhotoForm)" #createPhotoForm="ngForm">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputID">PhotoID</label>
            <input type="number" class="form-control" id="inputID" placeholder="ID" name="photoId" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputLink">Photo URL</label>
            <input type="text" class="form-control" id="inputLink" placeholder="URL" name="Link" ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
        <div></div>
    </div>
</form>
