<h1 _ngcontent-ng-c1592491975="">Colours</h1>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="./colours/view-all-colours">
                Back
            </a>
        </li>
    </ul>
</nav>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="contentWrapper">
            <div class="itemGrid">
                <div class="item">
                       Colour: {{description}}
                </div>
                <div class="itemDetails">
                    Colour ID: {{colourId}}
                </div>
            </div>
        </div>
    </div>
</section>