<h4 class="display-6 fw-bolder" id="title">Colours<br />
    <a class="btn btn-primary" href="./colours" role="button">
        Back
    </a>
</h4>
<form (submit)="createNewColour(createColourForm)" #createColourForm="ngForm">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputCode">Colour ID *</label>
            <input type="number" class="form-control" id="inputCode" placeholder="ID" ng-required="inputCode"
                name="colourId" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputDescription">Colour Description *</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Blue..."
                ng-required="inputDescription" name="description" ngModel>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-3">Create</button>
        </div>
    </div>
</form>