<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{brandId}}</div>
                <h1 class="display-5 fw-bolder">{{name}}</h1>
                <div class="fs-5 mb-5">
                </div>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" [(ngModel)]="searchId" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="searchById()">
                        <i class="bi bi-search me-1"></i>
                        Search by ID
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
