<h4 class="display-6 fw-bolder" id="title">GenderAge</h4>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="./genderAge/view-all-gender-ages">
                Back
            </a>
        </li>
    </ul>
</nav>
<div class="contentWrapper">
    <div class="itemGrid">
        <div class="item">
            Gender:<br /> 
            {{gender}}<br /> 
            Age Interval:<br /> 
            {{age}} years
        </div>
        <div class="itemDetails">
            GenderAge ID:<br /> {{genderAgeId}}
        </div>
    </div>
</div>