<h1>Shops</h1>
<!-- Search form -->
<section class="mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h4>Search by Name</h4>
      <form [formGroup]="searchForm" (ngSubmit)="searchByName()" class="form-length">
        <div class="form-group">
          <label for="searchbyName">Enter Name:</label>
          <input class="form-control" id="searchByName" type="text" formControlName="name" required />
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-secondary ml-2" (click)="resetSearch()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h4>Create a New Shop</h4>
      <form (submit)="createNewShop()" class="form-length">
          <div class="form-group">
          <label for="shopId">Shop ID:</label>
          <input class="form-control" id="shopId" type="number" formControlName="shopId" required />
        </div>
        <div class="form-group">
          <label for="name">Shop Name:</label>
          <input class="form-control" id="name" type="text" formControlName="name" required />
        </div>
        <div class="form-group">
          <label for="link">Shop Link:</label>
          <input class="form-control" id="link" type="text" formControlName="link" required />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mt-2">Create Shop</button>
        </div>
      </form>
    </div>
  </div>
</section>


<section class="mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h4>Update a Shop</h4>
      <form [formGroup]="updateShopForm" (submit)="updateShop()" class="form-length">
        <div class="form-group mt-3">
          <label for="inputCode">Shop ID</label>
          <input type="number" class="form-control" id="inputCode" placeholder="1" formControlName="shopId">
        </div>
        <div class="form-group mt-3">
          <label for="inputName">Shop Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="My Shop" formControlName="name">
        </div>
        <div class="form-group mt-3">
          <label for="inputLink">Shop Link</label>
          <input type="text" class="form-control" id="inputLink" placeholder="https://example.com"
            formControlName="link">
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mt-3">Update</button>
        </div>
      </form>
    </div>
  </div>
</section>
<br>
<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let shop of filteredShopList">
        <div class="card h-100">
          <!-- Shop details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Shop name-->
              <h5 class="fw-bolder">{{ shop.shopId }} - {{ shop.name }}</h5>
            </div>
          </div>
          <!-- Shop actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" [href]="'shops/view-shop/' + shop.shopId">View details</a>
              <!-- Add the deleteShop method call on button click -->
              <button class="btn btn-outline-danger mt-auto" (click)="deleteShop(shop.shopId)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>