<h1>Product Types</h1>
<section>
    <div class="row mt-5">
        <div class="col-12">
            <h4>Create a New Product Type</h4>
            <form (submit)="createNewProductType()">
                <div class="form-group">
                    <label for="typeId">Product Type ID:</label>
                    <input class="form-control" id="typeId" type="number" [(ngModel)]="newProductType.typeId" name="typeId"
                        required />
                </div>
                <div class="form-group">
                    <label for="description">Product Type Description:</label>
                    <input class="form-control" id="description" type="text" [(ngModel)]="newProductType.description" name="description"
                        required />
                </div>
                <button type="submit" class="btn btn-primary mt-2">Create Product Type</button>
            </form>
        </div>
    </div>
</section>
<br>
<h4>Update a Product Type</h4>
<form [formGroup]="updateProductTypeForm" (submit)="updateProductType()">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputCode">Product Type ID</label>
            <input type="number" class="form-control" id="inputCode" placeholder="1" formControlName="typeId">
        </div>
        <div class="form-group mt-3">
            <label for="inputDescription">Product Type Description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Shirt" formControlName="description">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update</button>
    </div>
</form>
<br>
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let productType of productTypeList">
                <div class="card h-100">
                    <!-- Product Type details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product Type name-->
                            <h5 class="fw-bolder">{{productType.typeId }} - {{ productType.description }}</h5>
                        </div>
                    </div>
                    <!-- Product Type actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" [href]="'productType/view-product-type/' + productType.typeId">View details</a>
                            <!-- Add the deleteBrand method call on button click -->
                            <button class="btn btn-outline-danger mt-auto"
                                (click)="deleteProductType(productType.typeId)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>