h2 {
    text-align: center;
    margin-top: -5%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 2px;
    border-style: solid;
    padding: 10%;
    border-radius: 10px;
    border-color:maroon;
    background-color: lightcoral;
}

.btn {
display: block;
block-size: 100%;
    background-color: lightcoral;
}