<h4 class="display-6 fw-bolder" id="title">Colours<br />
    <a class="btn btn-primary" href="./colours/view-all-colours" role="button">
        Back
    </a>
</h4>
<section class="py-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
            <div class="small mb-1"></div>
            <h2>Are you sure you want to delete ID {{ colourIdToDelete }}?</h2>
            <button class="btn btn-danger" (click)="confirmDelete()">Confirm Delete</button>
        </div>
    </div>
</section>