<h4 class="display-6 fw-bolder" id="title">Colours<br />
  <a class="btn btn-primary" href="./colours/view-all-colours" role="button">
    Back
  </a>
</h4>
<form [formGroup]="coloursForm" (ngSubmit)="updateColour()">
  <div class="form-row">
    <div class="form-group mt-3">
      <input type="hidden" class="form-control" id="colourId" formControlName="colourId">
      <label for="description">New Colour *</label>
      <input type="text" class="form-control" id="description" formControlName="description" ng-required="description">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>
  </div>
</form>