<h1>Brands</h1>
<section>
    <div class="row mt-5">
        <div class="col-12">
            <h4>Create a New Brand</h4>
            <form (submit)="createNewBrand()">
                <div class="form-group">
                    <label for="brandId">Brand ID:</label>
                    <input class="form-control" id="brandId" type="number" [(ngModel)]="newBrand.brandId" name="brandId"
                        required />
                </div>
                <div class="form-group">
                    <label for="name">Brand Name:</label>
                    <input class="form-control" id="name" type="text" [(ngModel)]="newBrand.name" name="name"
                        required />
                </div>
                <button type="submit" class="btn btn-primary mt-2">Create Brand</button>
            </form>
        </div>
    </div>
</section>
<br>
<form [formGroup]="updateBrandForm" (submit)="updateBrand()">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputCode">Brand Code</label>
            <input type="number" class="form-control" id="inputCode" placeholder="1" formControlName="brandId">
        </div>
        <div class="form-group mt-3">
            <label for="inputName">Brand Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Gucci" formControlName="name">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update</button>
    </div>
</form>
<br>
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let brand of brandList">
                <div class="card h-100">
                    <!-- Brand image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Brand details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Brand name-->
                            <h5 class="fw-bolder">{{ brand.brandId }} - {{ brand.name }}</h5>
                        </div>
                    </div>
                    <!-- Brand actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" [href]="'brands/view-brand/' + brand.brandId">View details</a>
                            <!-- Add the deleteBrand method call on button click -->
                            <button class="btn btn-outline-danger mt-auto"
                                (click)="deleteBrand(brand.brandId)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>