<h1 _ngcontent-ng-c1592491975="">Photos</h1>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="./photos/view-all-photos">
                Back
            </a>
        </li>
    </ul>
</nav>
<div class="contentWrapper">
    <div class="itemGrid">
        <div class="item">
            <a href="{{link}}" alt="blue jeans">
            <img src='{{link}}'  style='width: 100%; height: auto; max-width: 100%'/></a>
            URL:<br />
            {{link}}
        </div>
        <div class="itemDetails">
            Photo ID:<br />
            {{photoId}}
        </div>
    </div>
</div>