<h4 class="display-6 fw-bolder" id="title">Photos <br />
    <a class="btn btn-primary" href="./photos/view-all-photos" role="button">
        Back
    </a>
</h4>
<div class="contentWrapper">
    <div class="itemGrid">
        <div class="item">
            <a href="{{link}}" alt="Outfit Photo">
                <img src='{{link}}' style='width: auto; height: auto; max-width: 100%' /></a>
        </div>
        <div class="itemID">
            Photo ID: {{photoId}}
        </div>
        <div class="itemLink">
            URL:<br />{{link}}
        </div>
    </div>