#title {
    margin: 5%;
}

.btn-primary {
    color: #E5FDFF;
    background-color: #00455c;
}

.btn-primary:hover {
    background-color: #0096bb;
}

.fw-bolder {
    color: #00455c;
}

div.contentWrapper {
    display: grid;
    margin: 0% 1% 0% 10%;
}

.itemGrid {
    display: grid;
    text-align: center;
    grid-auto-columns: 100%;
    grid-template-rows: 17fr 1fr 2fr;
    font-family: Arial, Helvetica, sans-serif;
}

.itemGrid div:first-child {
    background-color: #E5FDFF;
    padding: 5% 5% 5% 5%;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.itemGrid div:nth-child(2) {
    text-align: center;
    color: #E5FDFF;
    background-color: #00455c;
    padding: 2% 10% 2% 10%;
    font-size: 100%;
    font-weight: 700;
}

.itemGrid div:last-child {
    text-align: center;
    color: #E5FDFF;
    background-color: #00455c;
    padding: 1% 10% 1% 10%;
    font-size: 100%;
    font-weight: 700;
    border-style: solid;
    border-color: #00455c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}