<h4 class="display-6 fw-bolder" id="title">GenderAge<br />
  <a class="btn btn-primary" href="./genderAge/view-all-gender-ages" role="button">
    Back
  </a>
</h4>
<form [formGroup]="genderAgeForm" (ngSubmit)="updateGenderAge()">
  <div class="form-row">
    <div class="form-group mt-3">
      <input type="hidden" class="form-control" id="genderAgeId" formControlName="genderAgeId">
      <label for="description">New Gender *</label>
      <input type="text" class="form-control" id="gender" formControlName="gender" ng-required="gender">
      <label for="age">New Age Interval *<br/>Options: 0-2, 2-8, 8-15, over 16</label>
      <input type="text" class="form-control" id="age" formControlName="age" ng-required="age">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>
  </div>
</form>