<h4 class="display-6 fw-bolder" id="title">GenderAge<br />
    <a class="btn btn-primary" href="./genderAge" role="button">
        Back
    </a>
</h4>
<form (submit)="createGenderAge(createGenderAgeForm)" #createGenderAgeForm="ngForm">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputCode">GenderAge ID *</label>
            <input type="number" class="form-control" id="inputCode" placeholder="ID" ng-required="inputCode"
                name="genderAgeId" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputGender">Gender *</label>
            <input type="text" class="form-control" id="inputGender" placeholder="Options: F for Female, M for Male or U for Unisex" ng-required="inputGender"
                name="gender" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputAge">Age Interval *</label>
            <input type="text" class="form-control" id="inputAge" placeholder="Options: 0-2, 2-8, 8-15, over 16" ng-required="inputAge" name="age"
                ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
    </div>
</form>