<form (submit)="createGenderAge(createGenderAgeForm)" #createGenderAgeForm="ngForm">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputID">GenderAgeID</label>
            <input type="number" class="form-control" id="inputID" placeholder="ID" name="genderAgeId" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputGender">Gender</label>
            <input type="text" class="form-control" id="inputGender" placeholder="M, F, U" name="gender" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputAge">Age</label>
            <input type="text" class="form-control" id="inputAge" placeholder="Age" name="age" ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
        <div></div>
    </div>
</form>
