<h4 class="display-6 fw-bolder" id="title">GenderAge</h4>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="./genderAge">
                Back
            </a>
        </li>
    </ul>
</nav>
<form (submit)="createGenderAge(createGenderAgeForm)" #createGenderAgeForm="ngForm">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputCode">GenderAge ID *</label>
            <input type="number" class="form-control" id="inputCode" placeholder="ID" ng-required="inputCode"
                name="genderAgeId" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputGender">Gender *</label>
            <input type="text" class="form-control" id="inputGender" placeholder="M, F or U" ng-required="inputGender"
                name="gender" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputAge">Age Interval *</label>
            <input type="text" class="form-control" id="inputAge" placeholder="Age" ng-required="inputAge" name="age"
                ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
    </div>
</form>